.text-area,
.text-area .viewport,
.text-area .content  {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-prompt-text-fill: transparent;
    -fx-border-color: transparent;
}

.scroll-pane,
.scroll-pane .viewport,
.scroll-pane .content,
.scroll-pane .corner {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-prompt-text-fill: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

